# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/
.env
.env.*
.terraform/

# Builds y distribución
build/
dist/
*.egg-info/
.eggs/

# Tests y cobertura
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Tipado / linters / caches
.mypy_cache/
.pytype/
.pyre/
.ruff_cache/
.cache/

# IDEs / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Otros
.ipynb_checkpoints/
.python-version

.feature
.csv
.json